/* 新增 */
.containerMain {
    position: relative;
    top: 10px;
    background: white;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .flexContainer {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    justify-content: space-between;
  }
  .select select {
    background: white;
  }
  .bottom {
    margin-bottom: 30px;
  }
  .flexSpace {
    justify-content: space-between;
  }
  .flexDerect {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
  }
  .paddingContainer {
    padding: 10px;
  }